/*
 * Copyright 2015 Technexion Ltd.
 * Copyright 2012 Freescale Semiconductor, Inc.
 * Copyright 2011 Linaro Ltd.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/ {
	aliases {
		mxcfb0 = &mxcfb1;
		mxcfb1 = &mxcfb2;
		mxcfb2 = &mxcfb3;
		mxcfb3 = &mxcfb4;
	};

	memory {
		reg = <0x10000000 0x40000000>;
	};

	regulators {
		compatible = "simple-bus";

		reg_1p8v: 1p8v {
			compatible = "regulator-fixed";
			regulator-name = "1P8V";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-always-on;
		};

		reg_2p5v: 2p5v {
			compatible = "regulator-fixed";
			regulator-name = "2P5V";
			regulator-min-microvolt = <2500000>;
			regulator-max-microvolt = <2500000>;
			regulator-always-on;
		};

		reg_3p3v: 3p3v {
			compatible = "regulator-fixed";
			regulator-name = "3P3V";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};

		reg_usb_otg_vbus: usb_otg_vbus {
			compatible = "regulator-fixed";
			regulator-name = "usb_otg_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio3 22 0>;
			enable-active-high;
		};
	};

	sound {
		compatible = "fsl,picosom-imx6-sgtl5000",
                             "fsl,imx-audio-sgtl5000";
		model = "picosom-imx6-sgtl5000";
		cpu-dai = <&ssi1>;
		audio-codec = <&codec>;
		audio-routing =
			"MIC_IN", "Mic Jack",
			"Mic Jack", "Mic Bias",
			"Headphone Jack", "HP_OUT";
		mux-int-port = <1>;
		mux-ext-port = <3>;
	};

        sound-spdif {
                compatible = "fsl,imx-audio-spdif";
                model = "imx-spdif";
                spdif-controller = <&spdif>;
                spdif-out;
        };

	sound-hdmi {
		compatible = "fsl,imx6q-audio-hdmi",
			     "fsl,imx-audio-hdmi";
		model = "imx-audio-hdmi";
		hdmi-controller = <&hdmi_audio>;
	};

	wifi {
		compatible = "bcmdhd,wifi-gpio";
		pinctrl-0 = <&pinctrl_wifi_ctrl>;
		wl-reg-on = <&gpio1 7 0>;
		wl-host-wake = <&gpio7 11 0>;
	};

	rfkill {
		compatible = "bcm,bcm43xx_rfkill";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_bt_ctrl>;
		bluetooth-on = <&gpio7 12 0>;
		bluetooth-reg-on = <&gpio7 12 0>;
		bluetooth-wake = <&gpio1 4 0>;
	};

	mxcfb1: fb@0 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "hdmi";
		interface_pix_fmt = "RGB24";
		mode_str ="1920x1080M@60";
		default_bpp = <32>;
		int_clk = <0>;
		late_init = <0>;
		status = "disabled";
	};

	mxcfb2: fb@1 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "ldb";
		interface_pix_fmt = "RGB666";
		default_bpp = <24>;
		int_clk = <0>;
		late_init = <0>;
		status = "disabled";
	};

	mxcfb3: fb@2 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "lcd";
		interface_pix_fmt = "RGB565";
		mode_str ="CLAA-WVGA";
		default_bpp = <16>;
		int_clk = <0>;
		late_init = <0>;
		status = "disabled";
	};

	mxcfb4: fb@3 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "ldb";
		interface_pix_fmt = "RGB666";
		mode_str ="LDB-XGA";
		default_bpp = <16>;
		int_clk = <0>;
		late_init = <0>;
		status = "disabled";
	};

	lcd@0 {
		compatible = "fsl,lcd";
		ipu_id = <0>;
		disp_id = <0>;
		default_ifmt = "RGB565";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ipu1_1>;
		status = "okay";
	};

	backlight_lcd {
		compatible = "pwm-backlight";
		pwms = <&pwm4 0 5000000>;
		brightness-levels = <0 4 8 16 32 64 128 255>;
		default-brightness-level = <7>;
	};

	backlight_lvds {
		compatible = "pwm-backlight";
		pwms = <&pwm3 0 5000000>;
		brightness-levels = <0 4 8 16 32 64 128 255>;
		default-brightness-level = <7>;
	};

	v4l2_cap_0 {
		compatible = "fsl,imx6q-v4l2-capture";
		ipu_id = <0>;
		csi_id = <0>;
		mclk_source = <0>;
		status = "okay";
	};

	v4l2_out {
		compatible = "fsl,mxc_v4l2_output";
		status = "okay";
	};

};


&audmux {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_audmux_2>;
	status = "okay";
};


&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet_3>;
	phy-mode = "rgmii";
	status = "okay";
};

&hdmi_audio {
	status = "okay";
};

&hdmi_core {
	ipu_id = <0>;
	disp_id = <0>;
	status = "okay";
};

&hdmi_video {
	fsl,phy_reg_vlev = <0x0294>;
	fsl,phy_reg_cksymtx = <0x800d>;
	status = "okay";
};

&i2c1 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1_1>;
	status = "okay";

	codec: sgtl5000@0a {
		compatible = "fsl,sgtl5000";
		reg = <0x0a>;
		clocks = <&clks 201>;
		VDDA-supply = <&reg_2p5v>;
		VDDIO-supply = <&reg_3p3v>;
	};

	fxas2100x@21 {
		compatible = "fsl,fxas2100x";
		reg = <0x21>;
	};

	fxos8700@1e {
		compatible = "fsl,fxos8700";
		reg = <0x1e>;
	};

	mpl3115@60 {
		compatible = "fsl,mpl3115";
		reg = <0x60>;
	};
};

&i2c2 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2_2>;
	status = "okay";

	pmic: pfuze100@08 {
		compatible = "fsl,pfuze100";
		reg = <0x08>;

		regulators {
			sw1a_reg: sw1ab {
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1875000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <6250>;
			};

			sw1c_reg: sw1c {
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1875000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <6250>;
			};

			sw2_reg: sw2 {
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			sw3a_reg: sw3a {
				regulator-min-microvolt = <400000>;
				regulator-max-microvolt = <1975000>;
				regulator-boot-on;
				regulator-always-on;
			};

			sw3b_reg: sw3b {
				regulator-min-microvolt = <400000>;
				regulator-max-microvolt = <1975000>;
				regulator-boot-on;
				regulator-always-on;
			};

			sw4_reg: sw4 {
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <3300000>;
			};

			swbst_reg: swbst {
				regulator-min-microvolt = <5000000>;
				regulator-max-microvolt = <5150000>;
			};

			snvs_reg: vsnvs {
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <3000000>;
				regulator-boot-on;
				regulator-always-on;
			};

			vref_reg: vrefddr {
				regulator-boot-on;
				regulator-always-on;
			};

			vgen1_reg: vgen1 {
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1550000>;
			};

			vgen2_reg: vgen2 {
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1550000>;
				regulator-microvolts = <1500000>;
				regulator-microvolt = <1500000>;
				regulator-boot-on;
				regulator-always-on;
			};

			vgen3_reg: vgen3 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
			};

			vgen4_reg: vgen4 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vgen5_reg: vgen5 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vgen6_reg: vgen6 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};
		};
	};

	ov5640_mipi: ov5640_mipi@3c {
		compatible = "ovti,ov5640_mipi";
		reg = <0x3c>;
		clocks = <&clks 200>;
		clock-names = "csi_mclk";
		DOVDD-supply = <&reg_1p8v>;
		AVDD-supply = <&reg_2p5v>;
		DVDD-supply = <&reg_1p8v>;
		pwn-gpios = <&gpio1 6 1>;
		rst-gpios = <&gpio1 8 0>;
		ipu_id = <0>;
		csi_id = <0>;
		mclk = <24000000>;
		mclk_source = <0>;
	};

		hdmi: edid@50 {
		compatible = "fsl,imx6-hdmi-i2c";
		reg = <0x50>;
	};

	fusion7: fusion7@10 {
		compatible = "touchrev,fusion7";
		reg = <0x10>; /* The reg property describes the address of the device's resources within the address space defined by its parent bus.  */
		pinctrl-0 = <&pinctrl_gpio>;
		pinctrl-names = "default";
		interrupt-parent = <&gpio4>;
		interrupts = <5 0>;
		reset-gpios=<&gpio7 8 0>; /*pin264  SD3_RST GPIO(7, 8)   gpio200   Touchscreen Reset  Output*/
		touch_xmax=<1499>;
		touch_ymax=<899>;
		flip_x=<0>;
		flip_y=<0>;
	};
};

&i2c3 {
        clock-frequency = <100000>;
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_i2c3_1>;
        status = "okay";
};

/*
For reference here, the PAD_CTL bitfield definition from
Documentation/devicetree/bindings/pinctrl/fsl,imx6q-pinctrl.txt

CONFIG bits definition:
PAD_CTL_HYS                     (1 << 16)
PAD_CTL_PUS_100K_DOWN           (0 << 14)
PAD_CTL_PUS_47K_UP              (1 << 14)
PAD_CTL_PUS_100K_UP             (2 << 14)
PAD_CTL_PUS_22K_UP              (3 << 14)
PAD_CTL_PUE                     (1 << 13)
PAD_CTL_PKE                     (1 << 12)
PAD_CTL_ODE                     (1 << 11)
PAD_CTL_SPEED_LOW               (1 << 6)
PAD_CTL_SPEED_MED               (2 << 6)
PAD_CTL_SPEED_HIGH              (3 << 6)
PAD_CTL_DSE_DISABLE             (0 << 3)
PAD_CTL_DSE_240ohm              (1 << 3)
PAD_CTL_DSE_120ohm              (2 << 3)
PAD_CTL_DSE_80ohm               (3 << 3)
PAD_CTL_DSE_60ohm               (4 << 3)
PAD_CTL_DSE_48ohm               (5 << 3)
PAD_CTL_DSE_40ohm               (6 << 3)
PAD_CTL_DSE_34ohm               (7 << 3)
PAD_CTL_SRE_FAST                (1 << 0)
PAD_CTL_SRE_SLOW                (0 << 0)

Example, the Control Pad Setting

    0x0f0b0

corresponds to:

   0b1111000010110000

which is:

   PAD_CTL_PUS_22K_UP | PAD_CTL_PUE | PAD_CTL_PKE |
   PAD_CTL_SPEED_MED | PAD_CTL_DSE_40ohm

For more information about this, refer to the IOMUXC section of the i.MX6
reference manual.

*/

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog_1>;

	imx6qdl-picosom {
		pinctrl_hog_1: hoggrp-1 {
			fsl,pins = <
				MX6QDL_PAD_GPIO_0__CCM_CLKO1     	0x130b0
				MX6QDL_PAD_EIM_D22__USB_OTG_PWR		0x80000000	/* USB Power Enable */
				MX6QDL_PAD_GPIO_2__GPIO1_IO02		0x80000000	/* USDHC3 CD */
				MX6QDL_PAD_EIM_DA9__GPIO3_IO09		0x80000000	/* USDHC1 CD */
				MX6QDL_PAD_GPIO_0__CCM_CLKO1		0x000b0		/* SGTL5000 sys_mclk */
				MX6QDL_PAD_GPIO_6__GPIO1_IO06		0x0b0b0		/* ov5640 mipi powerdown */
				MX6QDL_PAD_GPIO_8__GPIO1_IO08		0x000b0		/* ov5640 mipi reset */
				MX6QDL_PAD_GPIO_3__CCM_CLKO2		0x000b0		/* ov5640 mclk */
				MX6QDL_PAD_EIM_D29__GPIO3_IO29   	0x80000000
				MX6QDL_PAD_ENET_RXD0__XTALOSC_REF_CLK_32K      0x000b0  /* wifi LPO 32K Hz clock */
			>;
		};
	};
	gpio {
		pinctrl_gpio: gpiogrp {
			fsl,pins = <
                                MX6QDL_PAD_EIM_DA12__GPIO3_IO12   0x4001b0b0 /* GPIO3_12 EDM pin 255 */
                                MX6QDL_PAD_EIM_DA11__GPIO3_IO11   0x4001b0b0 /* GPIO3_11 EDM pin 256 */
                                MX6QDL_PAD_EIM_DA10__GPIO3_IO10   0x4001b0b0 /* GPIO3_10 EDM pin 257 */
                                MX6QDL_PAD_EIM_D27__GPIO3_IO27    0x4001b0b0 /* GPIO3_27 EDM pin 258 */
                                MX6QDL_PAD_EIM_D26__GPIO3_IO26    0x4001b0b0 /* GPIO3_26 EDM pin 259 */
                                MX6QDL_PAD_EIM_BCLK__GPIO6_IO31   0x4001b0b0 /* GPIO6_31 EDM pin 260 */
                                MX6QDL_PAD_EIM_DA8__GPIO3_IO08    0x4001b0b0 /* GPIO3_8  EDM pin 261 */
                                MX6QDL_PAD_ENET_RX_ER__GPIO1_IO24 0x4001b0b0 /* GPIO1_24 EDM pin 262 */
                                MX6QDL_PAD_KEY_ROW4__GPIO4_IO15   0x4001b0b0 /* GPIO4_15 PICO pin 263 */
                                MX6QDL_PAD_SD3_RST__GPIO7_IO08    0x4001b0b0 /* GPIO7_8  EDM pin 264 */
			>;
		};
	};

	wifi_ctrl {
		pinctrl_wifi_ctrl: wifi_ctrlgrp {
			fsl,pins = <
				MX6QDL_PAD_GPIO_7__GPIO1_IO07     0x000b0    /* wifi-reg-on */
				MX6QDL_PAD_GPIO_16__GPIO7_IO11    0x80000000 /* wifi-host-wake */
			>;
		};
	};

	bluetooth_ctrl {
		pinctrl_bt_ctrl: bt_ctrlgrp {
			fsl,pins = <
				MX6QDL_PAD_GPIO_17__GPIO7_IO12	0x000b0		/* bluetooth-reg-on */
				MX6QDL_PAD_GPIO_4__GPIO1_IO04	0x000b0		/* bluetooth-wake */
                MX6QDL_PAD_GPIO_5__GPIO1_IO05   0x000b0     /* bluetooth-host-wake */
			>;
		};
	};

	pwm4 {
		pinctrl_pwm4_1: pwm4grp-1 {
			fsl,pins = <
				MX6QDL_PAD_SD4_DAT2__PWM4_OUT 0x1b0b1
			>;
		};
	};

	uart1 {
		pinctrl_uart1_2: uart1grp-2 {
			fsl,pins = <
				MX6QDL_PAD_CSI0_DAT10__UART1_TX_DATA 0x1b0b1
				MX6QDL_PAD_CSI0_DAT11__UART1_RX_DATA 0x1b0b1
				MX6QDL_PAD_EIM_D19__UART1_CTS_B 0x1b0b1
				MX6QDL_PAD_EIM_D20__UART1_RTS_B 0x1b0b1
			>;
		};
	};

	uart2 {
		pinctrl_uart2_2: uart2grp-2 {
			fsl,pins = <
				MX6QDL_PAD_SD4_DAT4__UART2_RX_DATA 0x1b0b1
				MX6QDL_PAD_SD4_DAT5__UART2_RTS_B 0x1b0b1
				MX6QDL_PAD_SD4_DAT6__UART2_CTS_B 0x1b0b1
				MX6QDL_PAD_SD4_DAT7__UART2_TX_DATA 0x1b0b1
			>;
		};
	};

	uart3 {
		pinctrl_uart3_3: uart3grp-3 {
			fsl,pins = <
				MX6QDL_PAD_EIM_D24__UART3_TX_DATA 0x1b0b1
				MX6QDL_PAD_EIM_D25__UART3_RX_DATA 0x1b0b1
				MX6QDL_PAD_EIM_D23__UART3_CTS_B   0x1b0b1
				MX6QDL_PAD_EIM_D31__UART3_RTS_B   0x1b0b1
			>;
		};
	};

	ecspi2 {
		pinctrl_ecspi2_1: ecspi2grp-1 {
			fsl,pins = <
				MX6QDL_PAD_EIM_OE__ECSPI2_MISO  0x1b0b1
				MX6QDL_PAD_EIM_CS1__ECSPI2_MOSI 0x1b0b1
				MX6QDL_PAD_EIM_CS0__ECSPI2_SCLK 0x1b0b1
				MX6QDL_PAD_EIM_RW__GPIO2_IO26 0x000f0b0
				MX6QDL_PAD_EIM_LBA__GPIO2_IO27 0x000f0b0
/*
				MX6QDL_PAD_EIM_RW__ECSPI2_SS0 0x000a0
				MX6QDL_PAD_EIM_LBA__ECSPI2_SS1 0x000a0
*/
			>;
		};
	};
};

&ldb {
	status = "okay";

	lvds-channel@0 {
		fsl,data-mapping = "spwg";
		fsl,data-width = <24>;
		primary;
		status = "okay";

		display-timings {
			native-mode = <&timing0>;
			timing0: hj070na {
				clock-frequency = <51000000>;
				hactive = <1024>;
				vactive = <600>;
				hback-porch = <90>;
				hfront-porch = <120>;
				vback-porch = <1>;
				vfront-porch = <1>;
				hsync-len = <100>;
				vsync-len = <33>;
			};
		};
	};
};

&mipi_csi {
	ipu_id = <0>;
	csi_id = <0>;
	v_channel = <0>;
	lanes = <2>;
	status = "okay";
};

&pwm3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm3_1>;
	status = "okay";
};

&pwm4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm4_1>;
	status = "okay";
};

&ssi1 {
	fsl,mode = "i2s-slave";
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1_2>;
	fsl,uart-has-rtscts;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2_2>;
	fsl,uart-has-rtscts;
	status = "okay";
};

&uart3 {
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_uart3_3>;
        fsl,uart-has-rtscts;
        status = "okay";
};

&usbh1 {
	status = "okay";
};

&usbotg {
	vbus-supply = <&reg_usb_otg_vbus>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg_2>;
	disable-over-current;
	dr_mode = "otg";
	status = "okay";
};

&usdhc1 {  /* Baseboard microSD slot */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc1_1>;
	bus-width = <4>;
	vmmc-supply = <&reg_3p3v>;
	cd-gpios = <&gpio3 9 0>;
	status = "okay";
};

&usdhc2 {  /* Broadcom Wifi/BT  */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc2_2>;
	bus-width = <4>;
	non-removable;
	sdio-force-rescan;
	vmmc-supply = <&reg_3p3v>;
	keep-power-in-suspend;
	status = "okay";
};

&usdhc3 { /* SOM microSD slot */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc3_1>;
	vmmc-supply = <&reg_3p3v>;
	cd-gpios = <&gpio1 2 0>;
	status = "okay";
};

&ecspi2 {
    fsl,spi-num-chipselects = <1>;
    cs-gpios = <&gpio2 27 0>; /* CS0 */
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_ecspi2_1>;
    status = "okay";

    ads7846@0 {
        reg = <0>;  /* CS0 */
        compatible = "ti,ads7846";
        pinctrl-names = "default";
        interrupt-parent = <&gpio4>;
        interrupts = <15 0>;
        spi-max-frequency = <1000000>;
        pendown-gpio = <&gpio4 15 0>;
        vcc-supply = <&reg_3p3v>;

        ti,x-min = /bits/ 16 <0>;
        ti,x-max = /bits/ 16 <4095>;
        ti,y-min = /bits/ 16 <0>;
        ti,y-max = /bits/ 16 <4095>;
        ti,pressure-max = /bits/ 16 <1024>;
        ti,x-plate-ohms = /bits/ 16 <90>;
        ti,y-plate-ohms = /bits/ 16 <90>;
        ti,debounce-max = /bits/ 16 <70>;
        ti,debounce-tol = /bits/ 16 <3>;
        ti,debounce-rep = /bits/ 16 <2>;
        ti,settle-delay-usec = /bits/ 16 <150>;
        linux,wakeup;
    };
};



/*&ecspi2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi2_1>;
	fsl,spi-num-chipselects = <2>;
	cs-gpios = <&gpio2 26 0 &gpio2 27 0>;
	status = "okay";
};*/
